@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  /* Hide scrollbar arrows for Webkit browsers (Chrome, Safari, Edge, Opera) */
  .no-scrollbar-arrows::-webkit-scrollbar-button {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox (this hides the entire scrollbar, including arrows) */
  .no-scrollbar-arrows {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
